body{
    font-family: 'Work Sans';
    background-color: #191919;
}
.bar ul{
    background-color: #ffffff;
}

.browse a{
    color: #191919;
    background-color: #ffffff;
}
.presets a{
    color: #191919;
    background-color: #ffffff;
}
